.footer-one {
  background-color: $theme-primary;
  color: $light;
  padding-top: 30px;
  padding-bottom: 30px;
  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
