.footer-one {
  background-color: $theme-primary;
  color: $light;
  .footer-box {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
