.platform-section{
  background-color: $theme-primary;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px;
  color: $light;
    .platform-card{
      padding: 1rem;
      border: 4px $theme-secondary solid;
      .platform-title{
          font-size: 1.5rem;
          font-weight: 500;
          text-align: center;
      }
      .platform-content{
          font-size: 1rem;
      }
    }
}
